<p id="notice"><%= notice %></p>s

<div class="posts-wrapper row">
  <h2>Posts</h2>
  <% @posts.each do |post| %>
    <div class="post">
      <div class="post-head">
        <div class="name">
          <%= post.user.user_name %>
        </div>
      </div>
      <p class="caption">
        <%= post.body %>
      </p>
    </div>
  <% end %>
</div>

<br>
<div class="posts-wrapper">
  <%= button_to 'New Post', new_post_path, class: 'btn btn-info' %>
</div>
